In [ ]:
print("Hello World")

Hello World

In [ ]:
# this program finds the
# average attendance of
# monday and tuesday

"""this program finds the
average attendance of
monday and tuesday"""

monday = 87 # attendance of monday
tuesday = 64 # attendance of tuesday

avg = (monday+tuesday)/2

print(avg)

75.5

In [ ]:
name_10 = "abhinav"
age1 = 100

_address = "bangalore"
address = "bangalore"

name = "Abhinav"
Name = "Awasthi"

print(name)
print(Name)

Abhinav
Awasthi

In [ ]:
wjhefiuqewhkir34758rigfehiuwkhfiwe = "hello"
print(wjhefiuqewhkir34758rigfehiuwkhfiwe)

hello

In [ ]:
print(34+324)
print(34-324)
print(34*324)
print(34/3)
print(34//3)
print(34%3)
print(2**3)

358
-290
11016
11.333333333333334
11
1
8

In [ ]:
a = 5
a+=2
a*=3

print(a)

21

In [ ]:
age = 100
height = 12.43
c = 2+3j

print(age,type(age))
print(height,type(height))
print(c,type(c))

100 <class 'int'>
12.43 <class 'float'>
(2+3j) <class 'complex'>

In [ ]:
s1 = 'a'
s2 = "abhinav"
s3 = "my name is abhinav"

print(s1,type(s1))
print(s2,type(s2))
print(s3,type(s3))

a <class 'str'>
abhinav <class 'str'>
my name is abhinav <class 'str'>

In [ ]:
isMarried = False
isGraduated = True

print(isMarried,type(isMarried))
print(isGraduated,type(isGraduated))

False <class 'bool'>
True <class 'bool'>

In [ ]:
name = None

print(name,type(name))

s = "24231"
print(int(s))

None <class 'NoneType'>
24231

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print(first_name,last_name)

Enter your first name: Abhinav
Enter your last name: Awasthi
Abhinav Awasthi

In [ ]:
age = int(input())
height = float(input())

print(age,height)

21435
3124.2345
21435 3124.2345

In [ ]:
full_name = "abhinav awasthi"
age = 100
address = "bangalore"

print(full_name,end = "&&")
print(age)
print(address)

print(full_name,age,address,sep="-")

abhinav awasthi&&100
bangalore
abhinav awasthi-100-bangalore

In [ ]:
# take input of age and on the basis of age print eligible or not eligible for driving license

age = int(input())

if(age>=18):
  test = input()
  if test=="PASS":
    print("Eligible for Driving License")
  else:
    print("Not Eligible for Driving License")
else:
  print("Not Eligible for Driving License")

25
FAIL
Not Eligible for Driving License

In [ ]:
marks = int(input())

# >=90 Excellent
# 70-90 Good
# 40-70 Fair
# <40 Bad

if marks>=90:
  print("Excellent")
elif marks>=70:
  print("Good")
elif marks>=40:
  print("Fair")
else:
  print("Bad")

34
Bad

In [ ]:
temp = int(input())

# 25-50->  Hot
# 10-24-> Cold
# <10 -> Extremely Cold

if 25<=temp<=50:
  print("Hot")
elif 10<=temp<=24:
  print("Cold")
elif temp<10:
  print("Extremely Cold")

12
Cold

In [ ]:
# Ternary Operator

age = int(input())

result = "Eligible" if age>=18 else "Not Eligible"

print(result)

23
Eligible

In [ ]:
i = 0

while i<5:
  print(i,end=" ")
  i+=1

0 1 2 3 4

In [ ]:
list1 = [3,3,5,2,1]

for i in list1:
  print(i,end=" ")

3 3 5 2 1

In [ ]:
for i in range(1,11):
  print(i,end=" ")
print()

for i in range(5,11):
  print(i,end=" ")
print()

for i in range(1,11,2):
  print(i,end=" ")
print()

for i in range(20,0,-1):
  print(i,end=" ")
print()

for i in range(20,0,-3):
  print(i,end=" ")
print()

1 2 3 4 5 6 7 8 9 10
5 6 7 8 9 10
1 3 5 7 9
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
20 17 14 11 8 5 2

In [ ]:
def printName(name):
  print(name)

printName("Abhinav Awasthi")

Abhinav Awasthi

In [ ]:
def addTwoNumbers(a,b):
  sum = a+b
  return sum

ans = addTwoNumbers(4,7)
print(ans)

11

In [ ]:
n = 5183

while n>0:
  r = n%10
  print(r,end=" ")
  n//=10

3 8 1 5

In [ ]:
n = 5183
sum = 0

while n>0:
  r = n%10
  sum+=r
  n//=10

print(sum)

17